@import 'variables';

// Roadmap

.header-text {
  background-color: lightgrey;
  padding: 10px;
}

.roadmap-item {
  margin-bottom: 50px;
}

// Search page
#search-page {
  ul {
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 25px;

      &::before {
        content: "";
      }
    }
  }
}
.left-search-input {
  display: inline-block;
  width: 68%;
}
.right-search-input {
  display: inline-block;
  width: 30%;
  margin-top: -2px;
}
