@charset "utf-8";

// Our variables
$base-font-family: "Roboto Slab", "PT Serif", Georgia, serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
  // Vendor
  "vendor/bootstrap",
  "vendor/bootstrap-theme",

  // Theme
  "theme/syntax-highlighting",
  "theme/poole",
  "theme/hyde",
  "theme/codemirror",

  // Components
  "components/footer",
  "components/header",

  // Pages
  "pages/category",
  "pages/page",
  "pages/post",
  "pages/roadmap",
  "pages/index"

;
