@import 'variables';


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  position: relative;
  z-index: 4;
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.75);
  background-color: #202020!important;
  text-align: left;
  background-image: url(/assets/img/computer.jpg);
  background-size: cover;
  background-position: left center;

  /* make sidebar slightly darker to increase text readability (when using a background image) */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(32, 32, 32, .33);
  }

  /* Sidebar links */
  a { color: #fff; }
  a:hover, a:focus { color: $grey-color; }
}

.drawer {
  padding-left: 0.5rem;
}

/* Use larg desktop styles for mobile as well when the JS "drawer" is active */
.drawer > .sidebar {
  position: fixed;
  bottom: 0;
  top: 0;
  left: -17.5rem;
  width: 18rem;
  will-change: transform;
  /*box-shadow: 0.25rem 0 0.5rem rgba(0, 0, 0, 0.15)*/
}

.drawer > .sidebar::before {
  background: -moz-linear-gradient(bottom,  rgba(32,32,32,0) 0%, rgba(32,32,32,.5) 100%);
  background: -webkit-linear-gradient(bottom,  rgba(32,32,32,0) 0%,rgba(32,32,32,.5) 100%);
  background: linear-gradient(to bottom,  rgba(32,32,32,0) 0%,rgba(32,32,32,.5) 100%);
}

.drawer > .sidebar > .sidebar-sticky {
  position: absolute;
  right:  1rem;
  bottom: 1rem;
  left:   1rem;
}

.backdrop {
  display: none;
}

.drawer > .backdrop {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  z-index: 3;
  will-change: opacity;
  pointer-events: none;
}

.drawer-open {
  overflow: hidden;
}

.drawer-open > .backdrop {
  pointer-events: all;
}

.menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1rem ;
  color: #9a9a9a;
  z-index: 2;
}

.menu:hover,
.menu:focus {
  border-bottom: none;
}

.drawer > .menu {
  left: 0.5rem;
}

@media (min-width: 48em) {
  .menu {
    display: none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    /* Disable drawer positiioning on larger screens (already done via JS, but just to be sure) */
    -webkit-transform: translate3d(0,0,0)!important;
    -ms-transform: translate3d(0,0,0)!important;
    transform: translate3d(0,0,0)!important;
  }
  .sidebar::before {
    background: -moz-linear-gradient(bottom,  rgba(32,32,32,0) 0%, rgba(32,32,32,.5) 100%);
    background: -webkit-linear-gradient(bottom,  rgba(32,32,32,0) 0%,rgba(32,32,32,.5) 100%);
    background: linear-gradient(to bottom,  rgba(32,32,32,0) 0%,rgba(32,32,32,.5) 100%);
  }
}

/* About section */
.sidebar-about > h1 {
  font-family: $base-font-family;
  color: #fff;
  margin-top: 0;
  font-size: 1.65rem;
}

.sidebar-about code {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1.25rem;
}
.sidebar-nav > ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.sidebar-nav-item {
  font-family: $base-font-family;
  font-size: 18px;
  display: block;
  line-height: 1.5;
  padding: .25rem .1rem;
  margin-left: 0;
  margin-right: 0;

  &.small-nav-item {
    font-size: 1.0rem;
    margin-bottom: 15px;
  }
}
.sidebar-nav > ul > li:last-child {
  padding-bottom: 10px;
}

.sidebar-nav > ul > .search-area {
  padding-top: 10px;
}

.sidebar-social {
  margin-bottom: 1.25rem;
}

.sidebar-social > a {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-right: 1rem;
}

.sidebar-social > a:last-child {
  margin-right: 0;
}

/* Enable z-index (derived from DOM structure) for the sidbar content. */
.container {
  position: relative;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    bottom: 1rem;
  }
}

/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top: 4rem;

  ul li {
    margin-bottom: 14px;
    position: relative;

    &:before {
      content: "\f0e7"; // lightning bolt
      font-family: FontAwesome;
      left: -20px;
      position: absolute;
      top: 5px;
      font-size: 12px;
    }
  }
}

@media (min-width: 48em) {
  .content {
    max-width: 60%;
    margin-left: 18rem;
    border-left: none;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 64em) {
  .content { padding-left: 4rem; }
}
