---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

<h1 class="page-title">{{ tag.name }}</h1>
{% if tag.description %}
  {% capture desc %}{{ tag.description }}{:.message}{% endcapture %}
  {{ desc | markdownify }}
{% endif %}
<hr/>

{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul><hr/>{% endunless %}
      <ul class="related-posts">
      {% assign date = currentdate %}
    {% endif %}
    <li class="post-section">
        <a href="{{ post.url | prepend:site.baseurl }}"><b>
          <span class="post-title-link">{{ post.title }}</span></b></a>
          {% capture tags_content %}{% endcapture %}

          {% comment %}
            {% for post_tag in post.tags %}
              {% assign tag = site.data.tags[post_tag] %}
              {% if tag %}
                {% capture tags_content_temp %}{{ tags_content }}<a   href="{{ site.baseurl }}/tag/{{ post_tag }}/">{{ tag.name }}</a>{% if forloop.last == false %}<span>, </span>{% endif %}{% endcapture %}
                {% assign tags_content = tags_content_temp %}
              {% endif %}
            {% endfor %}
          {% endcomment %}
          <p class="tag-description">
            <!-- <i>{{ tags_content }}</i><br> -->
            {{ post.shortnote }}</p>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
{% else %}
    <p>There are no posts for this tag.</p>
{% endif %}
