---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

<h1 class="page-title">{{ tag.name }}</h1>
{% if tag.description %}
  {% comment %}
    Adding the "message" class to the last (and usually only) paragraph of the description.
  {% endcomment %}
  {% capture desc %}{{ tag.description }}{:.message}{% endcapture %}
  {{ desc | markdownify }}
{% endif %}
<hr/>

{% if site.tags[page.tag] %}
  {% for post in site.tags[page.tag] %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
      {% unless forloop.first %}</ul><hr/>{% endunless %}
      <ul class="related-posts">
      {% assign date = currentdate %}
    {% endif %}
    <li>
      <h3>
        <a href="/stack-for-yourself{{ post.url | prepend:site.baseurl }}">
          <span>{{ post.title }}</span></a></h3>
          <p>{{ post.shortnote }}</p>
    </li>
    {% if forloop.last %}</ul><hr/>{% endif %}
  {% endfor %}
{% else %}
    <p>There are no posts for this tag.</p>
{% endif %}
