<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <a id="_menu" class="menu" href="#_sidebar">☰</a>

    <main class="content container">
      {{ content }}
    </main>

    {% include sidebar.html %}

    <!-- Theme's JavaScript -->
    <script src="{{ site.baseurl }}/assets/javascript/hydejack.js" async></script>

    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88052103-1', 'auto');
        ga('send', 'pageview');

    </script>

  </body>
</html>
