---
layout: default
---

<h1 class="page-title">{{ tag.name }}</h1>
  {% capture desc %}{{ tag.description }}{:.message}{% endcapture %}
  {{ desc | markdownify }}
<hr/>

<ul>
  {% for tag_page in site.tag %}
    {% assign tag_entry = site.data.tags[tag_page.tag]%}
    {% if tag_entry.name != "Resources" %}
      <li>
        <p>This tag is: {{ tag_page }}</p>
        <a href="{{ site.baseurl }}/stack-for-yourself{{ tag_page.permalink }}">{{ tag_entry.name }}</a>
        <br><p>{{ tag_entry.description }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>
