---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

<h1 class="page-title">{{ tag.name }}</h1>
  {% capture desc %}{{ tag.description }}{:.message}{% endcapture %}
  {{ desc | markdownify }}

<hr/>

<ul class="related-posts">
{% for tag_key in site.all_tags %}
  {% assign tag = site.data.tags[tag_key] %}
    <li>
      <h3><a href="{{ site.baseurl }}/tag/{{ tag_key }}/">
        <span>{{ tag.name }}</span></a></h3>
        <p class="tag-description">{{ tag.description }}</p>
    </li>
{% endfor %}
</ul>
